.section-details {
    background-image: url(../../../public/home.jpg);
    background-color: rgba(0,0,0,.6);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    z-index: 0;
}

.heading-details {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: whitesmoke;
    padding: 90px 0px 20px 0px;
}

.article-details {
    width: 90vw ;
    height: 75vh;
    display: flex;
    flex-direction: row;
    border-radius: 65px;
    border: 4px goldenrod solid;
}

.div-img-details{
  width: 50%;
  height: 100%;
}

.img-details {
   width: 100%;
   height: 100%;
   border-radius: 60px 0 0 60px;
 
}

.details-section {
    width: 60%;
    height: 100%;
    background-color: black;
    border-radius:  0  60px 60px 0 ;
    display: flex;
    flex-direction: column;
}

.details-section h2{
    color: white;
    font-style: italic;
    font-size: 28px;
    text-decoration:underline 1px;
    text-align: center;
    margin-bottom: 20px;
}

.instrument-info{
    border-bottom: 3px solid goldenrod;
    height: 80%;
    width: 100%;
    padding: 20px;
    font-size: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info p {
    color: white;
    margin: 10px;
    flex-basis: 45%;
    padding-left: 60px;
}

.info p span,
.createdAt span {
    color: bisque;
}

.info .price span{
    color: red;
    margin: 15px;
    flex-basis: 45%;
}
 .title-details{
    font-size: 26px;
    color: bisque;
    text-align: center;
    text-decoration:underline 4px goldenrod;
    margin-bottom: 30px;
}

.about-instrument {
    color: white;
    text-align: center;
}

.about-instrument h3 {
    margin: 20px;
    text-decoration: underline;
    font-style: italic;
}

.about-instrument p {
    color: bisque;
}

.createdAt {
    color: white;
    text-align: center;
    padding-top: 55px;
    font-size: 16px;
}

/* Author Section */

.author-container {
    height: 50%;
    width: 100%;    
    

}

.author-container h2 {
    margin-top: 20px;
    text-align: center;
    display: block;
}

.author-info {
    color: white;
    width: 100%;
    height: 20%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.author-info span {
     color: bisque;  
}

.buttons {
   display: flex;
   flex-direction: row;
}

.btn {
    color: white;
    border: 2px goldenrod solid;
    padding: 15px 30px;
    border-radius: 60px;
    text-decoration: none;
    font-size: 24px;
}

.btn:hover {
    color: black;
    border: 2px goldenrod solid;
    background-color: goldenrod;
    transition: 0.8s;
}


