.section-details {
    background-image: url(../../../public/home.jpg);
    background-color: rgba(0,0,0,.6);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    z-index: 0;
    height: auto;
    padding-bottom: 40px;
}

.heading-details {
    text-align: center;
    font-size: 42px;
    font-style: italic;
    color: whitesmoke;
    padding: 80px 0px 20px 0px;
    text-decoration: underline goldenrod;
}

.article-details {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    border-radius: 65px;
    border: 4px goldenrod solid;
}

.div-img-details{
  width: 50%;
}

.img-details {
   width: 100%;
   height: 100%;
   border-radius: 60px 0 0 60px;
 
}

.details-section {
    width: 60%;
    background-color: black;
    border-radius:  0  60px 60px 0 ;
    display: flex;
    flex-direction: column;
    height: auto    ;
}

.details-section h2{
    color: white;
    font-style: italic;
    font-size: 28px;
    text-decoration:underline 1px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.instrument-info{
    border-bottom: 3px solid goldenrod;
    width: 100%;
    font-size: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info p {
    color: white;
    margin: 10px;
    flex-basis: 45%;
    padding-left: 60px;
}

.info p span,
.createdAt span {
    color: bisque;
}

.info .price span{
    color: red;
    margin: 15px;
    flex-basis: 45%;
}
 .title-details{
    font-size: 26px;
    color: bisque;
    text-align: center;
    text-decoration:underline 4px goldenrod;
    margin-bottom: 30px;
}

.about-instrument {
    color: white;
    text-align: center;
}

.about-instrument h3 {
    margin: 20px;
    text-decoration: underline;
    font-style: italic;
}

.about-instrument p {
    color: bisque;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
}

.createdAt {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Author Section */

.author-container {
    width: 100%;    

}

.author-info {
    color: white;
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

.author-info p {
    margin-top: 20px;
}

.author-info span {
     color: bisque;  
}

.buttons {
   display: flex;
   flex-direction: row;
}

.btn {
    color: white;
    border: 2px goldenrod solid;
    padding: 10px 30px;
    border-radius: 60px;
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}

.btn:hover {
    color: black;
    border: 2px goldenrod solid;
    background-color: goldenrod;
    transition: 0.8s;
}

.author-sorry-h1 {
    color: white;
    text-align: center;
    height: 40px;
    margin: 40px;
    font-size: 18px;
}

.author-sorry-h1 a {
   color: goldenrod;
   text-decoration: none;
   
}


/* Responsive */

@media all and (max-width: 1240px){
    .article-details {
        height: auto;
    }

    .instrument-info h2 {
        font-size: 24px;
    }

    .title-details {
        margin-bottom: 10px;
        font-size: 20px;
        margin-top: 10px;
    }

    .info  {
        display: inline;
        text-align: center;
        margin: 0 auto;
    }
    
    .info p {
        font-size: 18px;
    }

    .about-instrument h3{
        font-size: 20px;
    }

    .about-instrument p {
        font-size: 16px;
    }

    .price {
        margin-bottom: 0px;
    }

    .details-section h2 {
        font-size: 22px;
        margin-bottom: 0px;
    }

    .author-info {
        text-align: center;
        margin: 0 auto;
    }

    .buttons {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .author-container {
        display: inline
    }
}


@media all and (max-width: 880px){
    .section-details{
        padding-top: 150px; 
    }

    .heading-details{
        font-size: 32px;
        margin-bottom: 10px;
    }

    .article-details {
        flex-direction: column;
        height: auto;
    }

    .div-img-details {
        width: 100%;
        height: 50%;
        background-color: black;
        border-radius: 60px 60px 0 0;
    }

    .img-details {
        width: 100%;
        height: 100%;
        border-radius: 60px 60px 0 0;
        border-bottom: 3px solid goldenrod;
     }

     .details-section {
        width: 100%;
        border-radius:  0  0 60px 60px;
        display: flex;
        flex-direction: column;
     }

     .details-section h2{
        font-size: 22px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .info {
       flex-direction: column;
       font-size: 16px;
    }

    .info p {
         padding: 5px;
         margin: 0 auto;
    }

    .title-details{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .about-instrument h3 {
        font-size: 18px;
        margin: 10px;
        padding-bottom: 5px;
    }

    .about-instrument p {
        font-size: 14px;
    }

    .createdAt {
        font-size: 14px;
    }

    .author-sorry-h1 {
        font-size: 16px;
        margin: 5px 20px 30px 20px;
    }

    /* AUTHOR CONTAINER */

    .author-container {
        margin-bottom: 10px;
    }

    .author-info {
        flex-direction: column;
    }

    .author-info p {
        margin: 0 auto;
        padding-bottom: 10px;
        font-size: 16px;
    }

    .btn {
        border: 2px goldenrod solid;
        padding: 10px 30px;
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }
}

