
.profileListOffers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 2px solid gold;
    padding: 20px 0 30px 0;
}


.profile-myoffers h1 {
    margin-top: 20px;
}

.profileList-noFound {
    font-size: 62px;
    color: goldenrod;
    font-style: italic;
    text-align: center;
    width: 60vw;
    height: 40vh;
    font-weight: 20;
    padding-top: 80px;
    text-decoration: none;
}

/* RESPOSIVE */

.profileListOffers {
    
}