.latest-offer-card {
    height: 20vh;
    width: 15%;
    color: #fff;
    position: relative;
    z-index: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px;
    border-radius: 120px solid gold;
    flex-wrap: wrap;
  
}

.latest-offer-image { 
    width: 100%;
    height: 100%;
    object-fit: cover;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    filter: brightness(85%);
}

.latest-offer-card h1 {
    padding-top: 15px;
    font-size: 18px;
    letter-spacing: 0.2rem;
    text-align: center;
}

.latest-text-price{
    color: bisque;
}

.latest-offer-price {
    font-size:16px;
    position: relative;
    text-align: center;
    color: red;
    padding: 15px 0px 15px 0px;
}

.latest-read-more-btn {
    border: 2px solid goldenrod;
    border-radius: 60px;
    padding: 3px 10px;
    color: goldenrod;
    text-decoration: none;
    font-size: 12px;
    background-color: black;    
    margin-top: 15px;
}

.latest-read-more-btn:hover {
    color: rgb(165, 0, 0);
}

/* RESPONSIVE */

@media all and (max-width: 880px) {
    .latest-offer-card {
        height: 20vh;
        width: 15%;
        color: #fff;
        position: relative;
        z-index: 0;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0px;
        border-radius: 120px solid gold;
        flex-wrap: wrap;
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    .latest-offer-card h1 {
        font-size: 14px;
    }

    .latest-offer-price {
        font-size: 14px;
    }
}

@media all and (max-width: 1250px) {
    .latest-offer-card h1 {
        font-size: 14px;
    }

    .latest-offer-price {
        font-size: 14px;
    }
}