
.comments-title {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: whitesmoke;
    padding: 25px 25px;
}

.comments-container {
    width: 90vw ;
    height: 75vh;
    display: flex;
    flex-direction: row;
    border-radius: 65px;
    border: 4px goldenrod solid;    
    background-color: black;
    display: flex;
    flex-direction: column;
}

.comments-container h4{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 18px;
}

.p-guest {
    color: white;
    text-align: center;
    font-size: 18px;
}