.catalog-image-section {
    width: 100vw;
    height: 50vh;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}

.catalog-image-section img {
    width: 25%;
    height: 100%;
}

.title-catalog {
   color: white;
   font-size: 42px;
   text-align: center;
   font-style: italic;
   padding: 30px 0 30px 0;
   text-decoration: underline goldenrod;
}

.catalog-section{
   
    background-image: linear-gradient(
        300deg,
        hsl(0deg 0% 0%) 1%,
        hsl(45deg 36% 8%) 32%,
        hsl(47deg 38% 13%) 40%,
        hsl(48deg 43% 18%) 45%,
        hsl(48deg 46% 23%) 48%,
        hsl(49deg 49% 29%) 50%,
        hsl(49deg 51% 34%) 51%,
        hsl(49deg 53% 40%) 51%,
        hsl(50deg 54% 46%) 51%,
        hsl(50deg 59% 51%) 51%,
        hsl(50deg 76% 57%) 50%,
        hsl(50deg 100% 63%) 50%,
        hsl(50deg 76% 57%) 50%,
        hsl(50deg 59% 51%) 49%,
        hsl(50deg 54% 46%) 49%,
        hsl(49deg 53% 40%) 49%,
        hsl(49deg 51% 34%) 49%,
        hsl(49deg 49% 29%) 50%,
        hsl(48deg 46% 23%) 52%,
        hsl(48deg 43% 18%) 55%,
        hsl(47deg 38% 13%) 60%,
        hsl(45deg 36% 8%) 68%,
        hsl(0deg 0% 0%) 99%
      );
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    z-index: 0;

}

/* RESPONSIVE */

@media all and (max-width: 880px) {
    .catalog-image-section {
        width: 100vw;
        height: 40vh;
        padding-top: 165px;
    }

    .title-catalog {
        font-size: 32px;
        padding: 20px;
    }
}