.pagination-wrap {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 30px;
}

.pagination-wrap ul {
    margin: 0 auto;
    padding: 0;
    list-style: none; 
       
}

.pagination-wrap li {
    display: inline-block;
}

.pagination-wrap button {
    color: goldenrod;
    font-size: 24px;
    background-color: black;
    display: inline-block;
    padding: 8px 14px;
    margin: 5px;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid goldenrod;
}

.pagination-wrap button:hover {
    background-color: goldenrod;
    color: black;
} 

.pagination-wrap .unclickable {
    pointer-events: none;
    border: 0px;
}

.pagination-wrap .active {
    background-color: goldenrod;
    color: black;
}

/* RESPONSIVE */

@media all and (max-width: 880px) {
    .pagination-wrap ul {
        margin-top: 20px;
    }


}

@media all and (max-width: 520px) {
    .pagination-wrap button  {
        font-size: 20px;
        padding: 5px 10px;
        margin: 3px;
    }
}
