.comments-li{
    margin: 10px;
    border: 2px solid goldenrod;
    padding: 20px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.comments-email {
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.comments-text {
    color: bisque;
    font-size: 18px;
    margin: 5px;
    text-align: center;
    flex-wrap: wrap;
 
}

.comments-buttons {
    display: inline-block;      
}

.comments-buttons button {
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px 10px;
    border-radius: 30px;
    border: 2px solid goldenrod;
    background-color: black;
    color: white;
    font-size: 16px;
}

.comments-buttons button:hover {
    background-color: goldenrod;
    color: black;
}

.commnets-created{
    margin-top: 5px;
    color: white;
}

.comments-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.comment-edit-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.comment-edit-form-submit {
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid goldenrod;
    color: white;
    background-color: black;
    font-size: 16px;
    display: block;
    margin-top: 20px;
    margin-left: 690px;
}

.comment-edit-form-submit:hover {
    color: black;
    background-color: goldenrod;
}

.comment-edit-form-text{
   padding: 15px;
   font-size: 20px;
   width: 80%;
   justify-self: center;
}

.comment-error {
    color: red;
    text-align: center;
    margin-top: 20px;
}