.login-section {
    height: 0 auto;
    min-height: 790px;
    width: 100vw;
    padding-top: 100px;
    background-image: url(../../../public/images/GuitarsCatalogPic.jpg);
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    z-index: 0;
  
} 

.login-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    padding-top: 25px;  
    width: 50%;
    height: 0 auto;
    border-radius: 60px;
    box-sizing: border-box;
    box-shadow: 2px 2px 21px 12px #2d2d2d;
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    background-image: linear-gradient(
        320deg,
        hsl(0deg 0% 89%) 0%,
        hsl(49deg 10% 80%) 2%,
        hsl(50deg 14% 70%) 4%,
        hsl(51deg 15% 61%) 7%,
        hsl(52deg 16% 52%) 10%,
        hsl(53deg 21% 43%) 13%,
        hsl(54deg 31% 34%) 16%,
        hsl(56deg 47% 25%) 20%,
        hsl(57deg 61% 20%) 24%,
        hsl(57deg 43% 21%) 28%,
        hsl(57deg 28% 21%) 33%,
        hsl(62deg 15% 22%) 37%,
        hsl(95deg 5% 23%) 42%,
        hsl(207deg 12% 22%) 47%,
        hsl(213deg 28% 21%) 53%,
        hsl(212deg 51% 20%) 58%,
        hsl(212deg 58% 18%) 63%,
        hsl(213deg 52% 17%) 69%,
        hsl(215deg 46% 16%) 74%,
        hsl(217deg 41% 15%) 80%,
        hsl(220deg 35% 13%) 85%,
        hsl(224deg 29% 12%) 90%,
        hsl(231deg 22% 11%) 95%,
        hsl(248deg 17% 9%) 100%
      );
}

.login-container h1 {
    text-align: center;
    font-size: 42px;   
    color: floralwhite;
    font-style: italic; 
    margin-bottom: 40px;
    font-weight: bold;
    text-decoration: underline goldenrod;
}

.login-label,
.login-input,
.submit-login {
    display: block;
    width: 80%;
    border: none;
    box-sizing: border-box;
}

.login-label {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    color: white;
    margin-top: 13px;
}

.login-input {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    border: 3px solid goldenrod;
    margin-bottom: 20px;
}

.submit-login {
    margin-top: 50px;
    background: darkcyan;
    height: 60px;
    border-radius: 60px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    transition: 2.0s;
}

.submit-login:hover {
    color: white;
    background-color: goldenrod;
}

.login-container-p {
    text-align: center;
    color: whitesmoke;
    margin-top: 30px;
    padding-bottom: 20px;
}

.login-container-p a {
    color: red;
}

.p-login-error {
    margin-top: 30px;
    text-align: center;
    color: red;
    padding-bottom: 10px
}

/* RESPONSIVE */

@media all and (max-width: 880px) {
    .login-container {
       margin-top: 120px;
       width: 80%;
       height: 0 auto;
    }

    .login-container h1 {
        font-size: 32px;
    }

    .login-label {
        font-size: 18px;
    }

    .login-input{
      height: 10px;
      font-size: 18px;
    }

    .submit-login {
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: 10px;
    }

    .login-container-p  {
        font-size: 14px;
        padding-bottom: 30px;   
    }

    .p-login-error {
        margin-top: 20px;
        font-size: 16px;
        padding-top: 20px;
    }
    
}