.register-section {
    padding-top: 120px;
    background-image: url(../../../public/images/DrumsCatalogPic.jpg);
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 0 auto;
    min-height: 1300px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    z-index: 0;

}

.register-container {
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    padding-top: 30px;  
    padding-bottom: 40px;
    width: 50%;
    border-radius: 60px;
    box-sizing: border-box;
    box-shadow: 2px 2px 21px 12px #2d2d2d;
    margin-bottom: 50px;
    margin-top: 40px;
    color: black;
    background-image: linear-gradient(
        320deg,
        hsl(0deg 0% 89%) 0%,
        hsl(49deg 10% 80%) 2%,
        hsl(50deg 14% 70%) 4%,
        hsl(51deg 15% 61%) 7%,
        hsl(52deg 16% 52%) 10%,
        hsl(53deg 21% 43%) 13%,
        hsl(54deg 31% 34%) 16%,
        hsl(56deg 47% 25%) 20%,
        hsl(57deg 61% 20%) 24%,
        hsl(57deg 43% 21%) 28%,
        hsl(57deg 28% 21%) 33%,
        hsl(62deg 15% 22%) 37%,
        hsl(95deg 5% 23%) 42%,
        hsl(207deg 12% 22%) 47%,
        hsl(213deg 28% 21%) 53%,
        hsl(212deg 51% 20%) 58%,
        hsl(212deg 58% 18%) 63%,
        hsl(213deg 52% 17%) 69%,
        hsl(215deg 46% 16%) 74%,
        hsl(217deg 41% 15%) 80%,
        hsl(220deg 35% 13%) 85%,
        hsl(224deg 29% 12%) 90%,
        hsl(231deg 22% 11%) 95%,
        hsl(248deg 17% 9%) 100%
      );
}

.register-container h1 {
    text-align: center;
    font-size: 42px;   
    color: floralwhite;
    font-style: italic; 
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline goldenrod;
}

.register-label,
.input-field,
.input-field-repass,
.register-submit-enable,
.register-submit-disable {
    display: block;
    width: 60%;
    border: none;
    box-sizing: border-box;
}

.register-label {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    color: white;
    margin-top: 13px;
}

.input-field {
    background: #ecf0f3;
    padding: 20px;
    padding-left: 20px;
    height: 5px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    border: 3px solid goldenrod;
}

.input-field-repass {
    background: #ecf0f3;
    padding: 20px;
    padding-left: 20px;
    height: 5px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    border: 3px solid goldenrod;
    margin-bottom: 20px;
}

.register-submit-enable {
    margin-top: 55px;
    background: darkcyan;
    height: 50px;
    border-radius: 60px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    transition: 2.0s;
    margin-bottom: 10px;
    margin-bottom: 20px;
}

.register-submit-disable {
    margin-top: 55px;
    background: gray;
    height: 50px;
    border-radius: 60px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 20px;
}

.register-submit:hover {
    color: white;
    background-color: goldenrod;
}

.register-container p {
    text-align: center;
    color: whitesmoke;
    margin-top: 15px;
}

.register-container p a {
    color: red;
}

.p-register-error{
    text-align: center;
    color: red;
    margin: 10px;
}

/* RESPONSIVE */

@media all and (max-width: 880px) {

    .register-container {
        margin-top: 25%;
        width: 80%;
       
    }

    .register-container h1 {
        font-size: 28px;
    }

    .register-label {
        font-size: 18px;
    }

    .input-field,
    .input-field-repass {
        width: 80%;
        height: 50%;
        font-size: 16px;
        margin-bottom: 20px;
      }

      .register-container p {
       font-size: 14px;
       }

       .register-submit-disable {
        margin-top: 60px;
        font-size: 20px;
        width: 80%;
        margin-bottom: 40px;
        height: 60px;
       }

       .register-submit-enable {
        margin-top: 40px;
        font-size: 20px;
        width: 80%;
        margin-bottom: 40px;
        height: 60px;
        
       }
}

